@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.position-abs{
    position:absolute;
}

.font-inh{
    font-size:inherit !important;
}

.font-12{
    font-size: 12px !important;
}

.mat-button, .mat-raised-button{
    background-color:#e20074;
} 

.mat-raised-button {
    color: white;
}

